.card-project {
    margin-bottom: 32px;
    border-radius: 24px;
    transition: all ease 0.3s;
}
.card-project:hover {
    cursor: pointer;
    box-shadow: 0px 0px 16px #e5e5e5;
    transition: all ease 0.3s;
    border-color: transparent;
    transform: scale(1.01);
}

.card-project-col-left{
    padding: 16px 32px;
    text-align: center;
}

.card-project-col-right{
    padding: 16px 32px;
}

.card-project-title{
    font-size: 28px;
    font-weight: bold;
    color: #2f2f2f;
}

.card-project-content{
    font-size: 20px;
    color:#2f2f2f;
    margin-top: 16px;
}

.card-project-title-tech-stack{
    font-weight: bold;
    font-size: 24px;
    margin-top: 32px;
    color:#2f2f2f;
}

.card-project-content-tech-stack{
    display: inline-block;
    margin-top: 16px
}

.tech-stack{
    margin-right: 8px;
    margin-bottom: 8px;
}