.section-cover {
    text-align: center;
}

.cover-header {
    background: radial-gradient(50% 50% at 50% 50%, #1B1B1B 0%, #1D1D1D 0.01%, #1A1A1A 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.title-header {
    font-size: 64px;
    font-weight: bold;
    margin-top: 32px;
}

.divider-header {
    width: 4px;
    height: 36px;
    background: white;
    border-radius: 2px;
    margin-top: 8px;
}

.subtitle-header {
    font-size: 40px;
    font-weight: 500;
    margin-top: 12px;
}

.wrapper-information-header {
    margin: 16px 16px 32px 16px;
}

.information-header{
    margin: 0px 2px;
    display: inline-flex;
    font-size: 18px;
}

@media only screen and (max-width:808px) {
    .title-header {
        font-size: 48px;
        font-weight: bold;
        margin-top: 24px;
    }
    .subtitle-header {
        font-size: 32px;
        font-weight: 500;
        margin: 12px 16px 0px 16px;
        margin-top: 12px;
    }
    .img-header{
        width: 32vw;
    }
}

@media only screen and (max-width:480px) {
    .title-header {
        font-size: 32px;
        font-weight: bold;
        margin-top: 16px;
    }
    .img-header{
        width: 32vw;
    }
}

